body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444;
  color: #fff;
  /* padding-top: 5%; */
  word-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.WalletInfo {
  width: 500px;
  text-align: center;
}

.Block {
  border: 1px solid #fff;
  padding-top: 5%;
  margin-top: 2%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  width: 500px;
}

.Transaction {
  padding: 5%;
}

a, a:hover {
  color: #e66;
  text-decoration: underline;
}
